# ts_synthetic/requirements.txt
--extra-index-url https://pypi.org/simple

streamlit==1.32.2
numpy==1.26.4
pandas==2.0.3
scikit-learn==1.4.2
statsmodels==0.14.1
python-dateutil>=2.8.2


# ---- Needed for LSTM (Keras runs on TensorFlow) ----
# tensorflow-cpu==2.12.0
# keras==2.12.0

# tensorflow-cpu==2.10.1
# keras==2.10.0

# ---- Misc utils you likely use ----
python-dateutil>=2.8.2
# matplotlib>=3.7.1
# seaborn>=0.12.2
# plotly>=5.15.0

# ---- PyTorch stack (COMMENTED OUT) ----
# torch==2.2.2
# pytorch-lightning==2.2.5
# pytorch-forecasting==1.0.0   # 0.10.5 also works if you prefer
# torchmetrics==1.3.2

# ---- Hugging Face / PatchTST (COMMENTED OUT) ----
# transformers==4.41.2
# datasets==2.19.0
# accelerate==0.30.1
